.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #116def;
  padding: 20px 30px;
}

.text-style {
  color: whitesmoke;
  font-family: 'Georgia', serif;
}

.product-item {
  padding: 20px;
}
